<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-wrapper">
      <div class="navbar-toggle" (click)="sidebarToggle()">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
          </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
  
        <li class="nav-item ">
          <a routerLinkActive="active" [routerLink]="['/pages/login']"  class="nav-link">
            <i class="nc-icon nc-tap-01"></i> Login
          </a>
        </li>
      
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper wrapper-full-page ">
  <div class="full-page register-page section-image" filter-color="black" data-image="./assets/img/bg/jan-sendereks.jpg">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 ml-auto">
            <div class="info-area info-horizontal mt-5">
              <div class="icon icon-primary">
                <i class="nc-icon nc-tv-2"></i>
              </div>
              <div class="description">
                <h5 class="info-title">Esqueceu a senha </h5>
                <p class="description">
                  Informe o email cadastrado que enviaremos um link para este email, depois vamos te ajudar a alterar a sua senha, você é um grande ser humano.
                </p>
              </div>
            </div>
            
          </div>
          <div class="col-lg-4 col-md-6 mr-auto">
            <div class="card card-signup text-center">
              <div class="card-header ">
                <h4 class="card-title">Esqueceu a senha ?</h4>
          
              </div>
              <form [formGroup]="esqueceuForm" (ngSubmit)="onSubmit()">
          
              <div class="card-body ">
               
                  <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-email-85"></i>
                      </span>
                    </div>
                    <input type="text" formControlName="email"  size="30" id="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">
                            Email do Usuário é obrigatório
                        </div>
                    </div>
                          </div>
                 
              
              </div>
              <div class="card-footer ">
                      <button type="submit" class="btn btn-info btn-round">
                 
                  <span>Solicitar sua senha.</span>
                </button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer footer-black  footer-white ">
      <div class="container">
        <div class="row">
          <nav class="footer-nav">
           
          </nav>
          <div class="credits ml-auto">
            <span class="copyright">
              &copy; {{test | date: 'yyyy'}}, Developer by Prevent
            </span>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
